@font-face {
    font-family: 'Minecraft-Regular';
    src: url('fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('fonts/MinecraftTen.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft-Regular'; /* Minecraft Font na Import */
    background-color: #48494A;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}

.h1,h2, p{
    background-color: transparent;
}

header{
    background-color: #E6E8EB;
    padding: 1rem 3rem;
    border-style: solid;
    border-color: #b1b2b5;
    border-width: 0rem 0rem 0.45rem 0rem;
}

.navbar{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding{
    background-color: #E6E8EB;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand_title{
    background-color: #E6E8EB;
    font-family: 'Minecraft-Ten';
    font-size: 2rem;
    color: #48494A;
}

.goobli_icon{
    width: 4rem;
    border-radius: 1rem;
}

.nav_links{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav_links a{ 
    color: #48494A;
    background-color: #E6E8EB;      
    text-decoration: none;  /*Pantanggal ng underline sa hyperlink*/
    font-size: 1.2rem;
}

.nav_links a:hover{
    color: #3C8527;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}

.hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.gooblicraft{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 1.5rem;
    width: 40rem;
    background-color: transparent;
    text-shadow: 0.1rem 0.2rem 0.5rem #000000;
}

.gooblicraft h1{
    font-family: 'Minecraft-Ten';
    font-size: 4rem;
    background-color: transparent;
}

.gooblicraft p{
    font-size: 1.5rem;
}

.featured_bg{
    background: linear-gradient(
      rgba(67, 80, 82, 0.418), /* A black overlay with 50% opacity */
      rgba(67, 80, 82, 0.418)
    ),
    url('images/featured_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding-top: 5%;
    padding-bottom: 5%;

    border-style: solid;
    border-color: #000000;
    border-width: 0.5rem 0rem 0.5rem 0rem;
}

.featured_content{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    background-color: transparent;
}
.goobli_buttons{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
.goobli_buttons a{
    text-decoration: none;
    border-style: solid;
    border-width: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-color: #1E1E1F;
    font-family: 'minecraft-ten';
    padding: 0.7rem 0.7rem ;
    width: 19rem;
    height: 5rem;
    font-size: 1.8rem;
    display: inline-block;
    display: flex; 
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.goobli_buttons a:hover{
    text-decoration: underline;
    transform: scale(1.05);

    border-width: 0.4rem 0.4rem 0.4rem 0.4rem;
    background-color: #5e2066;
    box-shadow: inset 0 0 0 0.2rem #772981;
    color: #FFFFFF;
}
.dl_btn{
    background-color: #3C8527;
    text-align: center;
    box-shadow: inset 0 0 0 0.2rem #599747;
}

.pf_btn{
    background-color: #D0D1D4;
    text-align: center;
    box-shadow: inset 0 0 0 0.2rem #ECEDEE;
    color: #48494A;
}

.scroll_mark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 40rem;
    background-color: transparent;
}

.need_know{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}

.know_about1, .know_about2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    border-style: solid;
    border-color: #000000; 
    border-width: 0.25rem;
    box-sizing: border-box;
    overflow: hidden;
    align-items: stretch;
}

.get_addons, .encounter_smt{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1rem;
    padding: 1rem;
    background-color: #313233;
    flex: 7;
}

.get_addons h1, .encounter_smt h1{
    text-shadow: 0.1rem 0.2rem 0.05rem #000000;
    font-family: 'Minecraft-Ten';
    font-size: 2rem;
    background-color: #313233;
}
.get_addons p, .encounter_smt p{
    font-size: 1.2rem;
}

.get_addon_img, .get_encounter_img{
    flex: 1;
    background-image: url("images/get_addon_img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #161616;
    background-origin: content-box;
    padding: 1rem;
}

.get_encounter_img{
    background-image: url("images/get_encounter_img.png");
}

.brief_faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;
}

.faq_title{
    text-shadow: 0.1rem 0.2rem 0.05rem #000000;
    text-align: center;
    font-family: 'Minecraft-Ten';
    font-size: 2rem;
    background-color: #3C8527;
    box-shadow: inset 0 0 0 0.2rem #599747;
    padding: 1rem;
    border: #1E1E1F solid 0.25rem;
    width: 100%;
}

.is_survival, .is_java, .is_not_show{
    background-color: #313233;
    box-shadow: inset 0 0 0 0.2rem #3c3e3f;
    padding: 0.5rem;
    border: #1E1E1F solid 0.25rem;
    width: 100%;
}
.is_survival h1, .is_java h1, .is_not_show h1{
    text-shadow: 0.1rem 0.2rem 0.05rem #000000;
    text-align: left;
    margin: 1rem;
    font-size: 2rem;
    background-color: transparent;
}

.is_survival p, .is_java p, .is_not_show p{
    text-align: left;
    margin: 1rem;
    font-size: 1.2rem;
}

.goobli_footer{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    height: 10%;
    background-color: #161616;
    border-top: 0.5rem solid #000000;
    margin-top: 2rem;
}

.footer_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    flex: 1;
    gap: 1rem;
    background-color: #161616;
}

.footer_icon img{
    width: 7.5rem;
    height: auto;
    background: transparent;
    /* border: 0.5rem solid #ffffff; */
}
.footer_icon h2{
    font-family: 'Minecraft-Ten';
    font-size: 1.3rem;
}

.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex:3;
    gap: 1.5rem;
    background-color: #161616;
}

.footer_socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    align-items: center;
    background-color: transparent;
}

.footer_socials img, .footer_socials a{
    background-color: transparent;
}

.goobli_discord{
    width: 10rem;
    height: auto;
}
.all_socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}

.all_socials a{
    width: 3.5rem;
    height: auto;
    background: transparent;
}

/* For Mobile and Tablet */
@media (max-width: 768px) {
    html{
        font-size: 12px;
    }

    .footer_socials img, .footer_socials a{
        width: 90%;
        height: auto;
    }

    .scroll_mark{
        width: 80%;
    }

    .featured_content{
        padding-right: 2%;
    }

    .goobli_buttons a{
        width: 15rem;
        height: 4rem;
        font-size: 1.4rem;
    }

}

@media (max-width: 480px){
    html{
        font-size: 8px;
    }
}
