@font-face {
    font-family: 'Minecraft-Regular';
    src: url('fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('fonts/MinecraftTen.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft-Regular'; /* Minecraft Font na Import */
    background-color: #48494A;
    color: #FFFFFF;
}

header{
    background-color: #E6E8EB;
    padding: 1rem 3rem;
    border-style: solid;
    border-color: #b1b2b5;
    border-width: 0rem 0rem 0.45rem 0rem;
}

.navbar{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding{
    background-color: #E6E8EB;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand_title{
    background-color: #E6E8EB;
    font-family: 'Minecraft-Ten';
    font-size: 2rem;
    color: #48494A;
}

.goobli_icon{
    width: 4rem;
    border-radius: 1rem;
}

.nav_links{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav_links a{ 
    color: #48494A;
    background-color: #E6E8EB;      
    text-decoration: none;  /*Pantanggal ng underline sa hyperlink*/
    font-size: 1.2rem;
}

.nav_links a:hover{
    color: #3C8527;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}

.hero_section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gooblicraft{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    gap: 1.5rem;
    width: 40rem;
    background-color: transparent;
}

.gooblicraft h1,p{
    text-shadow: 0.1rem 0.2rem 0.5rem #000000;
    background-color: transparent;
}

.featured{
    background: linear-gradient(
      rgba(67, 80, 82, 0.418), /* A black overlay with 50% opacity */
      rgba(67, 80, 82, 0.418)
    ),
    url('images/featured_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 65vh;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-end;
    padding-right: 10%;
    padding-top: 5%;

    border-style: solid;
    border-color: #000000;
    border-width: 0.5rem 0rem 0.5rem 0rem;
}
.goobli_buttons{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
.goobli_buttons a{
    text-decoration: none;
    border-style: solid;
    border-width: 0.25rem 0.25rem 0.25rem 0.25rem;
    border-color: #1E1E1F;
    font-family: 'minecraft-ten';
    font-size: 2rem;
    padding: 0.7rem 0.7rem ;
    width: 19rem;
    height: 5rem;

    display: inline-block;
    display: flex; 
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.goobli_buttons a:hover{
    text-decoration: underline;
    transform: scale(1.05);

    border-width: 0.4rem 0.4rem 0.4rem 0.4rem;
    background-color: #5e2066;
    box-shadow: inset 0 0 0 0.2rem #772981;
    color: #FFFFFF;
}
.dl_btn{
    background-color: #3C8527;
    text-align: center;
    box-shadow: inset 0 0 0 0.2rem #599747;
}

.pf_btn{
    background-color: #D0D1D4;
    text-align: center;
    box-shadow: inset 0 0 0 0.2rem #ECEDEE;
    color: #48494A;
}

.scroll_mark{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    width: 40rem;
    background-color: transparent;
}

.know_about1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    border-style: solid;
    border-color: #000000; 
    border-width: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    align-items: stretch;
}

.get_addons{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    padding: 2rem;
    background-color: #313233;
    flex: 7;
}

.get_addons h1{
    text-shadow: 0.1rem 0.2rem 0.5rem #000000;
    font-family: 'Minecraft-Ten';
    font-size: 3rem;
    background-color: #313233;
}
.get_addons p{
    font-size: 2rem;
}

.get_addon_img{
    flex: 1;
    background-image: url("images/get_addon_img.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #212122;
    background-origin: content-box;
    padding: 1rem;
}

