@font-face {
    font-family: 'Minecraft-Regular';
    src: url('fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('fonts/MinecraftTen.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft-Regular'; /* Minecraft Font na Import */
    background-color: #48494A;
    color: #313233;
}

header{
    background-color: #E6E8EB;
    padding: 1rem 3rem;
    border-style: solid;
    border-color: #b1b2b5;
    border-width: 0rem 0rem 0.45rem 0rem;
}

.navbar{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branding{
    background-color: #E6E8EB;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.brand_title{
    background-color: #E6E8EB;
    font-family: 'Minecraft-Ten';
    font-size: 2rem;
}

.goobli_icon{
    width: 4rem;
    border-radius: 1rem;
}

.nav_links{
    background-color: #E6E8EB;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav_links a{ 
    background-color: #E6E8EB;      
    text-decoration: none;  /*Pantanggal ng underline sa hyperlink*/
    font-size: 1.2rem;
}

.nav_links a:hover{
    color: #3C8527;
    text-decoration: underline;
    text-underline-offset: 0.35rem;
}