
/* Custom Scrollbar Style sa Left Section */
/* Lapad ng Scrollbar*/
.left_section::-webkit-scrollbar, .preview_box::-webkit-scrollbar {
    width: .75rem; 
}

/* Background na Dinadaanan ng Scrolbar */
.left_section::-webkit-scrollbar-track, .preview_box::-webkit-scrollbar-track {
    background: #1a1a1a; /* Very Dark Gray */
    border-left: 0.15rem solid black; 
}

/* Yung Dinadrag */
.left_section::-webkit-scrollbar-thumb, .preview_box::-webkit-scrollbar-thumb {
    background-color: #3C8527; 
    border: 0.15rem solid black;
}

.left_section::-webkit-scrollbar-thumb:hover, .preview_box::-webkit-scrollbar-thumb:hover {
    background-color: #6E2461; 
}

/* --- MODAL CONTAINER --- */
.modal * {
    box-sizing: border-box;
}

.modal {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    width: 100%; 
    max-width: 75rem;

    z-index: 1000;

    border: 0.2rem solid black;
}

/* --- HEADER SECTION --- */
.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: .5rem;
    gap: 1rem; 
}

.modal-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0910F;
    
    
    border: .2rem solid black; 
    
    font-family: 'Minecraft-Ten';
    font-size: 1.5rem;
    color: white; 
    text-shadow: .125rem .125rem 0rem #3f3f3f; 
    
    flex-grow: 1; 
    padding: .5rem;
    margin: 0;
    text-align: center;
}

.modal-header button {
    width: 2.9rem;
    height: 2.9rem;
    background: #D9D9D9;
    border: .2rem solid black; 
    color: #282829;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0; 
}

.modal-header button:hover {
    color: white;
    background-color: #A3291E;
}

/* --- MAIN CONTENT (The Two Columns) --- */
.modal_content {
    display: flex;
    flex-direction: row; 
    gap: 1.5rem;
    width: 100%;
    padding: 0; 
    margin-top: 1rem;
}

/* --- LEFT SIDE (INPUTS) --- */
.left_section {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 80vh; 
    overflow-y: auto;
    padding-right: .5rem; 
}

/* --- RIGHT SIDE (PREVIEW + BUTTONS) --- */
.right_section {
    flex: 2; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 80vh;
}

/* The Big Dark Box */
.preview_box {
    flex-grow: 1; 
    background-color: #282829;
    border: .15rem solid black;
    min-height: 34%;
    padding: 1rem;
    position: relative;
    overflow: auto; 
}

.preview_box pre, .preview_box code{
    background-color: transparent;
    white-space: pre-wrap;
    font-size: 1rem;
    color: #789ace; 
}

/* --- INPUT STYLING --- */
.style_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .2rem; 
}

.style_block label {
    font-family: 'Minecraft-Ten';
    background-color: #3C8527;
    color: white;
    font-size: 1.3rem;
    border: .15rem solid black;
    padding: .3rem .8rem;
    width: fit-content;
}

.style_block input, 
.style_block select, 
.style_block textarea {
    font-family: 'Minecraft-Regular';
    font-size: 1rem;
    color: white;
    background-color: #282829;
    border: .15rem solid black;
    padding: .5rem;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.style_block textarea {
    resize: vertical; 
    min-height: 6.25rem; 
    font-family: 'Minecraft-Regular'; 
}

/* --- MODAL FOOTER BUTTONS --- */
.modal_footer {
    display: flex;
    gap: .5rem;
    width: 100%;
}

.modal_footer button {
    font-family: 'Minecraft-Ten';
    font-size: 1.2rem;
    color: white;
    border: .15rem solid black;
    padding: .8rem;
    cursor: pointer;
    flex: 1; 
    text-transform: uppercase;
}

.btn_copy { background-color: #459EC4; }
.btn_save { background-color: #C0910F; }
.btn_create { background-color: #6E2461; flex: 2 !important;}

.btn_copy:hover { background-color: #2D6A8C; }
.btn_save:hover { background-color: #8C650B; }
.btn_create:hover { background-color: #4B1843; }