@font-face {
    font-family: 'Minecraft-Regular';
    src: url('fonts/MinecraftRegular.otf');
}

@font-face {
    font-family: 'Minecraft-Ten';
    src: url('fonts/MinecraftTen.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Minecraft-Regular'; /* Minecraft Font na Import */
    background-color: #48494A;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}

.h1,h2, p{
    background-color: transparent;
}

/* MODAL */

.modal *{
    box-sizing: border-box;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.modal-content label{
    flex-direction: column;
    font-family: 'Minecraft-Ten';
    background-color: #3C8527;
    font-size: 1.8rem;
    border-style: solid;
    border-width: 0.15rem;
    border-color: black;
    padding: 0.25rem;
    padding-bottom: 0.5rem;
    margin: 0.25rem;
}

.modal-content input{
    font-size: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    background-color: #282829;
    height: 2rem;
    width: 120%;
    margin: 0.25rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
}